$vw_base:375;

@function vw($px) {
  @return ($px / $vw_base) * 100vw;
}

.con{
   display: flex;
   flex-direction: column;
}
.search{
    display: inline-flex;
    flex-direction: row;
    height: vw(60);
}

.searchCon{
    display: flex;
    flex: 1;
    justify-content: center;
}

.img{
    width: vw(60);
    height: vw(60);
}
.form{
    margin-left: vw(5);
    flex: 1;
    align-self: center;
    height: vw(30)
}
.input{
    height: vw(20)
}
.login{
    display: inline-flex;
    color:black;
    align-self: center;
    margin-left: vw(5)
}
.div1{
    margin-top: vw(60)
}
.btn{
    background-color: aqua;
}