.con{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: center;
}

.img{
    width: 60px;
    height: 60px;
}
.form{
    margin-left: 5px;
    flex: 1
}
.login{
    display: inline-flex;
    color:black;
}