.con{
   display: flex;
   flex-direction: column;
}
.search{
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.searchCon{
    display: flex;
    flex: 1;
    justify-content: center;
}

.img{
    width: 60px;
    height: 60px;
}
.form{
    margin-left: 5px;
    flex: 1;
    align-self: center;
    height: 30px
}
.input{
    height: 20px
}
.login{
    display: inline-flex;
    color:black;
    align-self: center;
    margin-left: 5px
}